@CHARSET "UTF-8";
.item-head{
	padding: 14px 0px;
	font-size: 15px;
}
.account-table {
	width: 100%;
}
.account-table input[type=text]{
	vertical-align: top;
}
.account-table td{
	padding: 7px;
	height: 42px;
}
.head-i{
	margin-left: 0px;
}
.account-table td.text-right{
	padding-right: 24px;
	color: #666;
}

.address-part {
    padding: 12px 18px;
    line-height: 24px;
    width: 285px;
    color: #666;
    margin: 0px 5px 10px;
    height: 170px;
    position: relative;
    vertical-align: top;
}
.address-part .btn-box .person-btn{
	margin: 0px 3px;
}
.address-part.bor-active, .address-part:hover {
    border: 2px solid #1388ff;
    padding: 11px 17px;
}
.address-part.bor-active .def-address, .address-part:hover .def-address {
    top: -2px;
    right: 19px;
}
.editor-address{
    margin-bottom: 20px;
}
.adrerss {
    height: 48px;
}
.bor-active:after {
    content: '';
    background: url('/images/ico.png') -113px -36px;
    display: inline-block;
    width: 19px;
    height: 17px;
    right: -1px;
    bottom: -1px;
    position: absolute;
}
.def-address{
	display: block;
	width: 24px;
	height: 26px;
	background: #ff6c00;
	color: #fff;
	top: -1px;
	right: 20px;	
}
.def-address.hide{
    display: none;
}
.def-address:after{
    content: '';
    border-left: 12px solid transparent;
    border-bottom: 6px solid #fff;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0px;
    top: 20px;
}
.address-inner{
    margin: 0px -5px;
    font-size: 0;
}
.address-inner>div{
    font-size: 14px;
}
.add-address-btn{
    line-height: 146px;
    text-align: center;	
    vertical-align: top;
}
.add-text {
    font-family: verdana, simsun;
    font-size: 26px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
}
.editor-address input[type=text]{
    width: 340px;
}

.account-table-double input[type=text]{
    width: 260px;
}

.account-info-table td{
    padding: 7px;
    height: 42px;
}
.account-info-table td{
    color: #333;
}
.account-info-table td.info-left{
    padding-right: 24px;
    color: #666;
    text-align: right;
    color: #959595;
}

.edit-btn{
    position: absolute;
    right: 30px;
    top: 13px;
    z-index: 1;
}
.edit-btn:hover{
	color: #0033ca;
}
.edit-btn:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url('/images/ico.png') -166px -36px;
    width: 13px;
    height: 13px;
    margin-right: 6px;
    margin-top: -1px;
}
.country_box
{
    /*max-width: 190px;*/
}
.country_box select{
    max-width: 190px;
}
